{ 
    "bl_config": "{{ bl_config }}", 
    "bl_rollback_version": "{{ bl_rollback_version }}", 
    "bl_panorama_connected": "{{ bl_panorama_connected }}",
    "bl_interfaces_up_list": "{{ bl_interfaces_up_list }}",
    "bl_connectivity": "{{ bl_connectivity }}" 
}